html {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
} 

*,
*::before
*::after {
    box-sizing: inherit;
}

:root {
    font-size: 62.5%;
} 

body {
    background-color: rgb(25, 25, 104);
    font-family: sans-serif;
    margin: 0;
}

nav {
    align-items: center;
    background-color: rgb(56, 102, 187);
    display: flex;
    justify-content: flex-end;
    height: 45px;
    flex-direction: row;
}
#dark-mode-button {
    border-radius: 20px;
    background-color: black;
    color: blanchedalmond;
    margin-right: 5px;
}

main{
    position: relative;
    top: 30%;
    text-align: center;
    width: 450px;
    height: 400px;
    margin: auto;
    color: darkred;
    background-color: darkgray;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

#categories {
    padding-top: 5px;
}

.choice {
    margin: auto;
    padding: 10px 0 5px 0;
    align-items: center;
}

#important-message {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 28px;
    font-family: sans-serif;
    color: cornsilk;
    text-align: center;
    margin: 0;
}

#result-message {
    padding-top: 20px;
    font-size: 22px;
    font-family: sans-serif;
    color: cornsilk;
    text-align: center;
}

main .choice {
    background-color: rgb(56, 102, 187, .5);
    width: 250px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 3px;
    border: 2px solid;
    display: flex;
    flex-direction: ;
    flex-wrap: inherit;
    justify-content: space-evenly;
    cursor: pointer;
    align-items: center;

}