html {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
} 

*,
*::before
*::after {
    box-sizing: inherit;
}

:root {
    font-size: 62.5%;
} 

body {
    background-color: rgb(25, 25, 104);
    font-family: sans-serif;
    margin: 0;
}

nav {
    align-items: center;
    background-color: rgb(56, 102, 187);
    display: flex;
    justify-content: flex-end;
    height: 45px;
    flex-direction: row;
}

#dark-mode-button {
    border-radius: 20px;
    background-color: black;
    color: blanchedalmond;
    margin-right: 5px;
}

h3 {
    font-size: 16px;
    margin-top: -30px;
}

li {
    display: flex;
    margin: 0;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}

#timer {
    display: flex;
    margin: auto;
    background-color: darkgray;
    color: black;
    border:5px solid rgb(145, 2, 2);
    border-radius: 5px;
    font-size: 30px;
    width: 55px;
    height: 45px;
    margin-bottom: 16px;
    text-align: center;
    justify-content: center;
}

main,
.quiz-box {
    position: relative;
    top: 30%;
    text-align: center;
    width: 450px;
    height: 500px;
    margin: auto;
    color: rgb(145, 2, 2);
    background-color: darkgray;
    border-radius: 8px;
    border: 10px solid;
    justify-content: center;
    align-items: center;
}

#question-message,
#intro-message {
    padding-top: 10px;
}

.main-message {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 28px;
    font-family: sans-serif;
    color: cornsilk;
    text-align: center;
    margin: 0;
}

#simple-message {
    padding-top: 20px;
    font-size: 22px;
    font-family: sans-serif;
    color: cornsilk;
    text-align: center;
}

main .choice {
    background-color: rgb(56, 102, 187, .5);
    width: 250px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 6px;
    border: 2px solid;
    display: flex;
    flex-wrap: inherit;
    justify-content: left;
    cursor: pointer;
    align-items: center;
}

.opt-btn,
main .btn {
    background-color: rgb(56, 102, 187, .5);
    color: rgb(145, 2, 2);
    width: 250px;
    height: 80px;
    display: flex;
    position: relative;
    margin-top: 20px;
    font-size: 24px;
    border-radius: 13px;
    border: 2px solid;
    flex-wrap: inherit;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

main .next {
    margin-top: 15px;
}

.opt-btn:hover,
main .btn:hover {
    background-color: rgba(25, 25, 104, 0.81);
}

#soccer-score-message,
#nfl-score-message,
#olympic-score-message,
#movie-score-message {
    font-size: 25px;
}

.soccer-quiz-box,
.nfl-quiz-box,
.olympic-quiz-box,
.movie-quiz-box {
    display: none;
}

.front-container {
    display: none;
}

body.dark {
    background-color: rgb(189, 213, 255);
    color: rgb(56, 102, 187, .5);

}

#main-menu.dark {
    color: darkblue;
}

@media only screen and (min-width: 768px) {
    .quiz-box {
width: 300px;
    }
}